.brand{
    text-align: center;
    position: relative;
    transform: translate(0,10%);
}

.navbar{
  /* background-color:#bc1142; */
  background-color:#A30F39;
  color: white;
  /* background-color: ; */
}

.nav{
  width: 100%;
}

#nav-dropdown{
  /* justify-content: end; */
  position: relative;
  right: 100px;
}

