.column_stack.card-columns {margin-top:50px;}
.column_stack.card-columns svg {width:70px;height:70px;display:block;margin: 10px auto 20px;}
.column_stack.card-columns .card {margin-bottom:25px;text-align:center;font-size:1.2em;padding-bottom:20px;}
.column_stack.card-columns .card:hover {border: 1px solid #9E9E9E;}
.column_stack.card-columns .card:hover .card-header {opacity:0.8;color:#f7e7e9;}

.h1, h1 {
  font-size: 1.7rem !important;
}

.inventory.row {margin-right:0px;}
body {background:url("./cream_dust.png");}

.access_card .jumbotron {background-color:#27252514;margin:30px;text-align:center;}
.access_card svg {font-size:6em;color:#3c3737b8;margin:10px;}