.brand{
    text-align: center;
    position: relative;
    transform: translate(0,10%);
}

.navbar{
  background-color:#A30F39;
  color: white;
    margin-bottom:0;
}
.nav{
  width: 100%;
}

nav.navbar-light {border-radius:0px;}
.dropdown.nav-item {background:#2f2929; line-height:initial; border-radius: 5px;padding:0 7px;margin-right: 15px;letter-spacing:1px;}
.dropdown.nav-item > a.nav-link {color:white !important;}
.dropdown-menu.show {font-size:1.1em;}
#nav-dropdown{
  /* justify-content: end; */
  position: relative;
  right: 100px;
}
a.brand.navbar-brand {position:relative;top:-7px;}
