/* .App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  background-color: #fefefe;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333333;
}

.App-link {
  color: #61dafb;
}
.App-intro {

  background:#bc1142;
  color: white;
  display:block;
  position:sticky;
  bottom:0px;
} */

.column_stack.card-columns {margin-top:50px;}
.column_stack.card-columns svg {width:70px;height:70px;display:block;margin: 10px auto 20px;}
.column_stack.card-columns .card {margin-bottom:25px;text-align:center;font-size:1.2em;padding-bottom:20px;}
.column_stack.card-columns .card:hover {border: 1px solid #9E9E9E;}
.column_stack.card-columns .card:hover .card-header {opacity:0.8;color:#f7e7e9;}

.h1, h1 {
  font-size: 1.7rem !important;
}

.inventory.row {margin-right:0px;}