.disclaimer p {font-size:13px;}
.disclaimer label {font-size:14px;vertical-align:top;font-weight:bold;}
.disclaimer .badge {margin:20px 0px 15px 0px;background:none;color:#ce9393;border-color:#ce9393;font-weight:200;border-radius:0px;text-transform:uppercase;letter-spacing:2px;padding:5px 10px;}